<!--
  Generated template for the ProgrammePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Programme</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-item text-center *ngIf="programmes.length==0" style="height: 100%; vertical-align: middle;">
      <p ion-text color="primary" style="font-style: italic; font-size: 1.4em">No data yet, stay tuned!</p>
  </ion-item>

  <ion-list *ngFor="let p of programmes">          
    <ion-item-divider *ngIf="p.type=='day'" color="primary" id="{{ 'programme-' + p.id }}">
        {{ p.title }}
    </ion-item-divider>

    <ion-item *ngIf="p.type=='program'" id="{{ 'programme-' + p.id }}">
      <h1 item-start>{{ p.time }}</h1>
      <div *ngIf="!p.important" style="font-size:1.1em; margin-left: 5px;" text-wrap>{{ p.title }}</div>
      <div *ngIf="p.important" style="font-size:1.3em; margin-left: 5px; font-weight: bold;" text-wrap>{{ p.title }}</div>
    </ion-item>

    <ion-item *ngIf="p.type=='competition'" id="{{ 'programme-' + p.id }}">
        <h1 item-start>{{ p.time }}</h1>
        <div style="font-size:1.1em; margin-left: 5px" text-wrap>{{ p.title }}</div>
        <button ion-button outline item-end icon-left (click)="openCompetitionsPage(p.id)">
          <ion-icon name="create"></ion-icon>
          Register
        </button>
    </ion-item>
  </ion-list>
</ion-content>