<!--
  Generated template for the NewsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>News</ion-title>
  </ion-navbar>

</ion-header>


<ion-content #content padding>
    <ion-item text-center *ngIf="news.length==0" style="height: 100%; vertical-align: middle;">
        <p ion-text color="primary" style="font-style: italic; font-size: 1.4em">No data yet, stay tuned!</p>
    </ion-item>

    <ion-card *ngFor="let newsItem of news">
      <ion-item>
        <div>{{ newsItem.author }}</div>          
        <p>{{ newsItem.date }}</p>
      </ion-item>

      <ion-card-content>
        <h2 style="font-weight:bold">{{ newsItem.subject }}</h2>
        <p *ngIf="newsItem.link"><a [href]="newsItem.link">{{ newsItem.linkName?newsItem.linkName:newsItem.link }}</a></p>
      </ion-card-content>

      <ion-row>
        <ion-item>
          <ion-note item-end>
            {{ newsItem.dateUTC | timeElapsed }}
          </ion-note>
        </ion-item>
      </ion-row>
    </ion-card>
    <ion-infinite-scroll (ionInfinite)="loadMore($event)" threshold="100px">
      <ion-infinite-scroll-content
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
